In [1]:
# import the necassery liberaries
import pandas as pd
import numpy as np

In [2]:
def process_company_real (inputFile, outputFile='', seperator=';', minValue=-1, maxValue=-1):
    # read data from file
    company = pd.read_csv(inputFile, sep=seperator)
    for col in company.columns:
        print(col)
    
    columnsKeep = []
    columnsInsert = ['Latitude','Longitude','Size','Office_or_factory','Solarpanels','Heating_type','Operating_hours']
    trueColumn = 0
    count = 2
    
    while(trueColumn == 0):
        columnsKeep = input('Enter the rows you want to keep, seperated by \",\" and finish by pressing return. ').split(',')
        try:
            company = company[columnsKeep]
            trueColumn = 1
        except KeyError:
            print('Invalid keys were entered, try again!')
    
    company.head(2)
    
    company.replace(to_replace=r'^\D+[^\.:/-]?\D*[^\.:/-]?\D*$', value=np.NaN, regex=True, inplace=True)
    company.dropna(inplace=True)
    
    powerColumn = input('Enter the row that contains the power consumption')
    company = company[company[powerColumn] > 0]
    
    while(trueColumn == 0):
        powerColumn = input('Enter the row that contains the power consumption')
        try:
            company = company[company[powerColumn] > 0]
            # drop rows with values bellow the minimum threshold
            if(minValue >= 0):
                company = company[company[powerColumn] > minValue]
    
            # drop rows with values over the maximum threshold
            if(maxValue > 0):
                company = company[company[powerColumn] < maxValue]
            
            trueColumn = 1
        except KeyError:
            print('Invalid keys were entered, try again!')
      
    # insert necassary columns
    for i in columnsInsert:
        company.insert(count, i, '0')
        count = count + 1
        
    company.rename(columns={powerColumn : "Global_active_power"})
    
    # write data to file (same file if no outputFile is defined)
    if not outputFile:
        outputFile = inputFile
    company.to_csv(outputFile)
    return company

In [3]:
process_company_real ('./real/Company_data_real_generated.csv','./real/Company_data_real_generated_filtered.csv', minValue=50, maxValue=61).head(10)

Time
Date
Sub_meter_1
Sub_meter_2
Total_consumption
Class
Enter the rows you want to keep, seperated by "," and finish by pressing return. Time,Date,Total_consumption
Enter the row that contains the power consumptionTotal_consumption

,Time,Date,Latitude,Longitude,Size,Office_or_factory,Solarpanels,Heating_type,Operating_hours,Total_consumption
0,16/12/2006,17:00:00,0,0,0,0,0,0,0,93.9
1,16/12/2006,17:30:00,0,0,0,0,0,0,0,96.6
2,16/12/2006,18:00:00,0,0,0,0,0,0,0,97.6
3,16/12/2006,18:30:00,0,0,0,0,0,0,0,77.5
4,16/12/2006,19:00:00,0,0,0,0,0,0,0,69.7
5,16/12/2006,19:30:00,0,0,0,0,0,0,0,64.8